@model MyNaati.Ui.ViewModels.PDListing.WizardModel
@{
    ViewBag.Subtitle = "Credentials";
    Layout = "~/Views/Shared/MasterPages/_PDListingWizardLayout.cshtml";
    ViewBag.BreadCrumb = new List<Tuple<string, string>>
    {
        new Tuple<string, string>("Directory Listing", string.Empty)
    };
}
@section Scripts
{
    <script type="text/javascript">
        var credentials = function () {
            var $checkboxes = $(formSelector + ' input[type="checkbox"]');

            function onCheckboxChange() {
                var $checkbox = $(this);
                $checkbox.val($checkbox.prop('checked'));
            }

            function updateCheckboxes(value) {
                $.each($checkboxes, function (index, checkbox) {
                    var $checkbox = $(checkbox);
                    $checkbox.prop('checked', value);
                    $checkbox.val(value);
                    onCheckboxChange.call(checkbox);
                });
            }

            return {
                onCheckboxChange: onCheckboxChange,
                onDocumentReady: function () {
                    $(cancelButtons).show();
                    $(previousButtons).show();
                    $(nextButtons).show();

                    $checkboxes.change(onCheckboxChange);

                    $('tr').click(function (event) {
                        var $checkbox = $(this).find('input[type="checkbox"]');

                        if (event.target !== $checkbox[0]) {
                            $checkbox.prop('checked', !$checkbox.prop('checked'));
                            onCheckboxChange.call($checkbox[0]);
                        }
                    });
                },
                selectAll: function () {
                    $checkboxes.prop('checked', true);
                    updateCheckboxes(true);
                },
                clearAll: function () {
                    $checkboxes.prop('checked', false);
                    updateCheckboxes(false);
                }
            };
        }();

        $(document).ready(credentials.onDocumentReady);
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <p>Tick the credentials you would like included in the directory.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="btn-group">
            <button class="btn btn-primary" type="button" onclick="credentials.selectAll();">Select All</button>
            <button class="btn btn-danger" type="button" onclick="credentials.clearAll();">Clear All</button>
        </div>
    </div>
</div>
<div class="row v-offset-xs-1">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="bg-primary">
                <tr>
                    <th>In Directory</th>
                    <th>Skill</th>
                    <th>Level</th>
                    <th>Direction</th>
                    <th>Expiry</th>
                </tr>
                </thead>
                <tbody>
                @for (var i = 0; i < Model.Credentials.Count; i++)
                {
                    var credential = Model.Credentials[i];

                    <tr style="cursor: pointer">
                        <td class="text-center">
                            <div class="checkbox">
                                <label>
                                    <input name="Credentials[@i].InDirectory" type="checkbox" value="@credential.InDirectory.ToString().ToLower()" @(credential.InDirectory ? "checked=checked" : string.Empty)/>
                                    <input name="Credentials[@i].Id" type="hidden" value="@credential.Id" />
                                </label>
                            </div>
                        </td>
                        <td>@Model.Credentials[i].Skill</td>
                        <td>@Model.Credentials[i].Level</td>
                        <td>@Model.Credentials[i].Direction</td>
                        <td>
                            @if (credential.Expiry.HasValue)
                            {
                                @credential.Expiry.Value.ToString("dd/MM/yy")
                                <input name="Credentials[@i].Expiry" type="hidden" value="@credential.Expiry.Value.ToString("yyyy-MM-dd")" />
                            }
                            else
                            {
                                @:N/A
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
