@model MyNaati.Ui.ViewModels.Credential.CredentialDetailRequestModel

@helper RenderDates(string startDate, string endDate, bool hasExpiry)
{
    <div class="col-xs-3" style="width: 23%">
        <label>Start Date</label>
        <p class="form-control-static">@startDate</p>
    </div>
    <div class="col-xs-3" style="width:22%">
        @if (hasExpiry)
        {
            <label>End Date</label>
            <p class="form-control-static">@endDate</p>
        }
    </div>
}

@helper RenderField(string value, string width, bool hasLabel = false, string label = null, bool isDirection = false, string direction = null, bool isStatus = false, bool isHeadling = false)
{
    <div class="col-xs-6" style="width: @width">
        <div>
            @if (hasLabel)
            {
                <label>@label</label>
            }

            @if (!isStatus)
            {
                if (isHeadling)
                {
                    <h4 class="form-control-static" style="margin-top: 0">@value</h4>
                }
                else
                {
                    <p class="form-control-static">@value</p>
                }

            }
            else
            {
                if (value.ToLowerInvariant() == "active")
                {
                    <h4 style="margin-top: 27px">
                        <span class="badge" style="background-color: #008c7e;">@value</span>
                    </h4>
                }
                else if (value.ToLowerInvariant() == "future")
                {
                    <h4 style="margin-top: 27px">
                        <span class="badge" style="background-color: #1B81AF;">@value</span>
                    </h4>
                }
                else
                {
                    <h4 style="margin-top: 27px">
                        <span class="badge" style="background-color: red;">@value</span>
                    </h4>
                }
            }

        </div>

        @if (isDirection)
        {
            <div style="padding-top: 5px;">
                <p class="form-control-static">@direction</p>
            </div>
        }

    </div>
}

@helper RenderLink(bool showOnline, int value, string status, string width)
{
    <div class="col-xs-6" style="width: @width">
        <p class="form-control-static">
            <span class="od">
                <label>Online Directory</label>
                @if (showOnline)
                {
                    if (status == "Active")
                    {
                        <input class="toggle-event" type="checkbox" data-id="@value" data-request-url="@Url.Action("UpdateCredential", "Credential")" checked data-toggle="toggle" data-size="mini">
                    }
                    else
                    {
                        <input class="toggle-event" type="checkbox" data-id="@value" data-request-url="@Url.Action("UpdateCredential", "Credential")" checked disabled data-toggle="toggle" data-size="mini">
                    }
                }
                else
                {
                    if (status == "Active")
                    {
                        <input class="toggle-event" type="checkbox" data-id="@value" data-request-url="@Url.Action("UpdateCredential", "Credential")" data-toggle="toggle" data-size="mini">
                    }
                    else
                    {
                        <input class="toggle-event" type="checkbox" data-id="@value" data-request-url="@Url.Action("UpdateCredential", "Credential")" disabled data-toggle="toggle" data-size="mini">
                    }
                }
            </span>
        </p>
    </div>
}

@helper RenderButtons(MyNaati.Ui.ViewModels.Credential.CredentialModel credential)
{
    <div class="col-xs-6" style="width: 25%">
        <a id="credential-download-@credential.CredentialId" class="downloadtooltip btn btn-primary" data-request-url="@Url.Action("GetAttachmentByCredentialId", "Credential")" title="Download Credential Documents" data-credentialId="@credential.CredentialId">
            <i class="glyphicon glyphicon-download-alt"></i>
        </a>
    </div>
    <div class="col-xs-6" style="width: 30%">
        @if (credential.CredentialCatergoryName == "Translator")
        {

           if (credential.Status != "Expired")
            {
                <a class="qrdownloadtooltip btn btn-primary" href="@Url.Action("GetCredentialQrCodeStamp", "Credential", new { credentialId = credential.CredentialId })" title="Download Digital Stamp">
                    DIGITAL STAMP
                </a>
            }
            else
            {
                <a class="qrdownloadtooltip btn btn-primary disabled" title="Credential has Expired">
                    DIGITAL STAMP
                </a>
            }
        }
    </div>
}

<div class="row">
    <div class="col-lg-12" style="padding-left: 30px;">
        <h2 class="text-primary">@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        @if (Model.Credentials.Any())
        {
            var itemcount = 0;

            foreach (var credential in Model.Credentials.OrderBy(x => x.Status))
            {
                <div class="col-lg-6" style="padding-top: 10px;">
                    <div class="panel panel-default">

                        <div class="panel-body" style="height: 92px;">
                            @RenderField(credential.CredentialName, "45%", false, null, true, credential.Direction, false, true)
                            @RenderField(credential.Status, "25%", false, null, false, null, true)
                            @if (credential.Certification)
                            {
                                @RenderLink(credential.ShowInOnlineDirectory, credential.CredentialId, credential.Status, "30%")
                            }
                        </div>

                        <div class="panel-body">
                            @if (credential.ExpiryDate != null)
                            {
                                @RenderDates(credential.StartDate.ToString("d/MM/yyyy"), credential.ExpiryDate.Value.ToString("d/MM/yyyy"), true);

                            }
                            else
                            {
                                @RenderDates(credential.StartDate.ToString("d/MM/yyyy"), null, false);
                            }

                            @RenderButtons(credential)
                        </div>

                    </div>
                </div>

                itemcount++;

                if (itemcount % 2 == 0)
                {
                    <div class="row"></div>
                }

            }
        }
        else
        {
            <div class="col-lg-12">
                <h4>No credentials</h4>
            </div>
        }
    </div>
</div>

<div id="downloadFileModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Credential Files</h4>
            </div>
            <div class="modal-body">
                <table id="downloadFileModelTable" class="table">
                    <thead>
                        <tr>
                            <th>Uploaded</th>
                            <th>Document Type</th>
                            <th>File Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="downloadFileModelTableBody"></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>