@model MyNaati.Ui.ViewModels.Certificate.WizardModel
@{
    ViewBag.Title = "Place an Order";
    ViewBag.Subtitle = "Certificates";
    Layout = "~/Views/Shared/MasterPages/_ProductWizardLayout.cshtml";
    ViewBag.BreadCrumb = new List<Tuple<string, string>>
    {
        new Tuple<string, string>("Products", Url.Action("index", "Product")),
        new Tuple<string, string>("Certificates", string.Empty)
    };
}
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(cancelButtons).show();
            $(nextButtons).show();

            var quantityUnlaminatedSelector = "input.quantity";
            var totalUnlaminatedSelector = "#total";
            var totalUnlaminated = 0;

            function calculateTotalUnlaminated() {
                totalUnlaminated = 0;

                $(quantityUnlaminatedSelector).each(function () {
                    var $quantity = $(this);
                    var value = parseInt(($quantity.val()));

                    if (isNaN(value) || value < 0) {
                        $quantity.val(0);
                    } else {
                        totalUnlaminated += value;
                    }
                });

                $(totalUnlaminatedSelector).html(totalUnlaminated);
            }

            $(quantityUnlaminatedSelector).change(function () {
                calculateTotalUnlaminated();
            });

            calculateTotalUnlaminated();
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <p>
            Select the quantity of certificates you require. Note: a fee is charged for each certificate.
            If you would like a certificate in both directions that is not available in the list, please contact NAATI.
        </p>
    </div>
</div>
@{ Html.EnableClientValidation(); }
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr>
                    <th>Skill</th>
                    <th>Level</th>
                    <th>Direction</th>
                    <th>Expiry</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.SelectCertificateModel.Certificates.Count; i++)
                {
                    var certificate = Model.SelectCertificateModel.Certificates[i];

                    <tr>
                        <td>@certificate.Skill</td>
                        <td>@certificate.Level</td>
                        <td>@certificate.Direction</td>
                        <td>@{ var expiry = certificate.Expiry.HasValue ? certificate.Expiry.Value.ToString("d/MM/yyyy") : string.Empty; }
                            @expiry</td>
                        <td>@Html.TextBoxFor(c => c.SelectCertificateModel.Certificates[i].QuantityUnlaminated, new { @class = "quantity", type = "number" })</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">Total</td>
                    <td id="total">0</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
