@using MyNaati.Ui.Helpers
<table class="wide">
    <tr>            
        <td rowspan="5" class="office-use-only"><span class="vertical-text">OFFICE USE ONLY</span></td>
        <td>DATE RECEIVED:</td>
        <td>DATE DISPATCHED:</td>
    </tr>
    <tr>
        <td colspan="3" class="black">&nbsp;</td>
    </tr>
    <tr>
        <td><strong>CC @FormBoxHelper.UntickedBox(Url) CHQ @FormBoxHelper.UntickedBox(Url) AMO @FormBoxHelper.UntickedBox(Url) CSH @FormBoxHelper.UntickedBox(Url)<br />DD @FormBoxHelper.UntickedBox(Url) EFTPOS @FormBoxHelper.UntickedBox(Url)</strong></td>
        <td><strong>AMOUNT PAID:</strong></td>
    </tr>
    <tr>
        <td>ENTERED BY:</td>
        <td>DATE:</td>
    </tr>
    <tr>        
        <td>RECEIPT NUMBER:</td>
        <td>TRANSACTION NUMBER:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>        
    </tr>
</table>