@{
    Layout = "~/Views/Shared/MasterPages/_Layout.cshtml";
}
@section Head
{
    @RenderSection("Head", false)
}
@section Scripts
{
    @RenderSection("Scripts", false)
}
<div id="SideMenu">
    <ul class="Inline">
        <li id="Credentials">
            @Html.ActionLink("Apply for Accreditation", "Index", "ApplicationForAccreditation", null, new { style = "width:200px" })
        </li>
        <li id="Testing">
            @Html.ActionLink(" By Testing", "Index", "ApplicationByTestingWizard")
        </li>
        <li id="Course">
            @Html.ActionLink(" By Approved Course", "Index", "ApplicationByCourseWizard")
        </li>
    </ul>
</div>
<h1>@ViewBag.Title</h1>
<div id="ContentWithSideMenu">
    @RenderBody()
</div>
<br style="clear:both" />
