@using System.Configuration
@using MyNaati.Ui.Helpers
@using System.Text.RegularExpressions
@model MyNaati.Ui.ViewModels.CredentialApplication.ManageTestModel

@{
    ViewBag.Title = "Manage Test";
    Layout = "~/Views/Shared/MasterPages/_PayOnlineLayout.cshtml";

    ViewBag.BreadCrumb = new List<Tuple<string, string>>
{
            new Tuple<string, string>("My Tests", Url.Action("MyTests", "Applications")),
            new Tuple<string, string>("Manage Test", null)
        };
}
@functions
{
    public enum ModalType
    {
        Accept,
        Reject
    }
}

@helper ModalBody(ModalType modalType, MvcHtmlString modalBodyHtml)
{
    <div class="row">
        <div class="col-lg-12">
            <div id="manageTestError" class="validation-summary-errors" style="display: block;">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @modalBodyHtml
        </div>
    </div>
}

@helper ConfirmModel(ModalType modalType)
{
    if (modalType == ModalType.Accept)
    {
        <p class="alert" role="alert">
            Are you sure you want to accept this test session on <strong>@Model.TestDateString</strong>?
        </p>
    }
    else if (modalType == ModalType.Reject)
    {
        <p class="alert" role="alert">
            Are you sure you want to reject this test session on <strong>@Model.TestDateString</strong>? <br /><br />Please note that once this session is rejected, you will go back in the queue to be allocated a new session when available.
        </p>
    }
}


@Html.Hidden("hdnStatus", Model.Status, new { id = "hdnStatus" })


<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-primary">@ViewBag.Title</h2>
        </div>
    </div>


    <div class="col-lg-12">

        <div class="row m-t-sm">
            <div class="form-group col-lg-4">
                <label class="control-label w-md-130">Customer No</label>
                <div class="form-control-static">@Model.CustomerNo</div>
            </div>

            <div class="form-group col-lg-4">
                <label class="control-label w-md-130">Test Session ID</label>
                @if (Model.TestSessionId.HasValue)
                {
                    <p class="form-control-static"><span>TS</span>@Model.TestSessionId.Value</p>
                }
                else
                {
                    <p class="form-control-static"><span></span></p>
                }

            </div>

            <div class="form-group col-lg-4">
                <label class="control-label w-md-130">Attendance ID</label>
                <p class="form-control-static">@Model.TestSessionCredentialRequestId</p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-4">
                <label class="control-label w-md-130">Test Date</label>
                <p class="form-control-static">@Model.TestDateString</p>
            </div>

            <div class="form-group col-lg-4">
                <label class="control-label w-md-130">Test Start</label>
                <p class="form-control-static">@Model.TestStart</p>
            </div>

            <div class="form-group col-lg-4">
                <label class="control-label w-md-130">Expected Completion</label>
                <p class="form-control-static">@Model.ExpectedCompletion</p>
            </div>
        </div>

        <div class="row m-t-sm">

            <div class="form-group col-lg-4">
                <label class="control-label w-md-130">Application</label>
                <p class="form-control-static">@Model.Application</p>
            </div>

            <div class="form-group col-lg-4">
                <label class="control-label w-md-130">Credential Type</label>
                <p class="form-control-static">@Model.CredentialType</p>
            </div>

            <div class="form-group col-lg-4">
                <label class="control-label w-md-130">Skill</label>
                <p class="form-control-static">@Model.Skill</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                <label class="control-label w-md-130">Status</label>
                <p class="form-control-static"><span class="badge" id="spStatus" style="background-color: #1B81AF;">@Model.Status</span></p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                <label class="control-label w-md-130">Venue Name</label>
                <p class="form-control-static" id="venueName">@Model.VenueName</p>
            </div>
        </div>

        @{
            DateTime parsedTestDate;
            DateTime parsedTestTime;
            var canParseDate = DateTime.TryParse(Model.TestDateString, out parsedTestDate);
            var timeMatch = Regex.Match(Model.TestStart ?? "", @"\b\d{1,2}:\d{2}\s?[AP]M\b");
            parsedTestTime = DateTime.MinValue;
            var canParseTime = timeMatch.Success && DateTime.TryParse(timeMatch.Value, out parsedTestTime);
            var testStart = (canParseDate && canParseTime)
                ? parsedTestDate.Date.Add(parsedTestTime.TimeOfDay)
                : DateTime.MinValue;

        }

        @if (canParseDate &&
             !Model.CanChangeRejectTestDate &&
             DateTime.Now < testStart)
        {
            <div class="row m-t-sm">
                <div class="form-group col-lg-12">
                    <div class="alert alert-warning" style="margin-top: 10px;">
                        As per our <a href="https://www.naati.com.au/policies/terms-and-conditions" target="_blank"> Terms and Conditions </a>, changes 7 days or less before test date are not possible and are considered a cancellation. You will receive a 75% refund upon request by emailing
                        <strong><a href="mailto:info@naati.com.au">info@naati.com.au</a></strong> as long as the request is made prior to your test time.
                    </div>
                </div>
            </div>
        }


        <div class="row m-t-sm">
            <div class="form-group col-lg-8">
                <label class="control-label w-md-130 ">Venue Address</label>
                <p class="form-control-static">
                    @if (!string.IsNullOrWhiteSpace(Model.VenueCoordinates))
                    {
                        <a target="_blank" href="https://www.google.com.au/maps/place/@Model.VenueCoordinates" title="@Model.VenueAddress">
                            <span id="address">@Model.VenueAddress</span>
                        </a>
                        <span id="coordinates" hidden>@Model.VenueCoordinates</span>
                    }
                    else if (!string.IsNullOrWhiteSpace(Model.VenueAddress))
                    {
                        <a target="_blank" href="https://www.google.com.au/maps/place/@Model.VenueAddress.Replace("/", "%2F")" title="@Model.VenueAddress">
                            <span id="address">@Model.VenueAddress</span>
                        </a>
                    }
                </p>
            </div>
        </div>

        @if (!String.IsNullOrWhiteSpace(Model.Notes))
        {
            <div class="row m-t-sm">
                <div class="form-group col-lg-8">
                    <label class="control-label w-md-130">Notes</label>
                    <p class="form-control-static">@Model.Notes</p>
                </div>
            </div>
        }

        <div class="panel-group">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4 class="panel-title" style="text-align: center;">
                        <a id="vMap" data-toggle="collapse" href="#collapse1">Show Venue Map</a>
                    </h4>
                </div>

                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-lg-8" style="padding-left: 5px; width: 100%">
                            <img id="map" class="map" src="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="btnGrpAction" class="row m-t-sm">
            <div class="form-group" style="float: left; margin-top: 20px; margin-left: 10px">

                @if (Model.CanChangeRejectTestDate)
                {
                    <button type="button" onclick="changeOrRejectTestSession(@(ConfigurationManager.AppSettings["kosettings:skipRecaptcha"].AsBool()))" class="btn btn-primary">Change or Reject Test Date</button>
                }
            </div>
        </div>


    </div>

    <div id="recaptcha"></div>
</div>

<div id="detailModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="">OK</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script id="confirmAccept" type="text/html">
        @ModalBody(ModalType.Accept, ConfirmModel(ModalType.Accept).ToMvcHtmlString())
    </script>
    <script id="confirmReject" type="text/html">
        @ModalBody(ModalType.Reject, ConfirmModel(ModalType.Reject).ToMvcHtmlString())
    </script>

    <script>
        $(function() {
            var $modal = $('#detailModal');
            var $okButton = $modal.find('.modal-footer .btn-primary');
            var $cancelButton = $modal.find('.modal-footer .btn-danger');
            var $target = null;
            var $vMap = $('#vMap');
            var callGoogleApiCount = 0;

            function setupModal(event) {
                $target = $(event.relatedTarget);
                var modalType = $target.data('modal-type');

                var id = 'confirm' + modalType;

                $modal.find('.modal-title').text(modalType);
                $modal.find('.modal-body').html($('#' + id).html());

                $okButton.prop('disabled', false);
                $okButton.text(modalType);
                $okButton.data('url', $target.data('url'));
                $target.prop('disabled', true);
                $okButton.show();

                $cancelButton.prop('disabled', false);
                $cancelButton.show();
                $modal.data('modalType', modalType);
                $modal.modal('show');

            }

            $modal.on('show.bs.modal',
                function(event) {
                    $('.validation-summary-errors').empty();
                    if (event.relatedTarget) {
                        setupModal(event);
                    }
                });

            $modal.on('hidden.bs.modal',
                function() {
                    $target.prop('disabled', false);
                });


            $okButton.on('click',
                function(evt) {

                    evt.preventDefault();

                    var $this = $(this);
                    var actionButtons = $('#detailModal .modal-footer button');
                    actionButtons.attr('disabled', true);
                    var actionButtonsText = actionButtons.filter('.btn-primary').text();
                    actionButtons.filter('.btn-primary').text('Processing...');

                    function reactivateButtons() {
                        actionButtons.attr('disabled', false);
                        actionButtons.filter('.btn-primary').text(actionButtonsText);
                    }

                    $.ajax({
                        url: $this.data('url'),
                        type: 'GET',
                        success: function(result) {
                            if (result === '') {
                                $('#btnGrpAction').empty();

                                if (actionButtonsText === 'Accept') {
                                    $modal.modal('hide');
                                    $('#spStatus').text('Test confirmed');
                                    $('#btnGrpAction')
                                        .html(
                                            '<h4 class="text-primary" style="margin-left:15px;margin-top:20px;"><strong>Test date has been accepted. You will receive an email with the confirmation.</strong></h4>');
                                } else if (actionButtonsText === 'Reject') {
                                    window.location.href = "@Url.Action("MyTests", "Applications")";
                                }
                            } else {
                                reactivateButtons();
                                var $errors = $('.validation-summary-errors');
                                $errors.empty();
                                $errors.append('<li>' + result.data + '</li>');
                            }
                        },
                        error: function() {
                            reactivateButtons();
                            var $errors = $('.validation-summary-errors');
                            $errors.empty();
                            $errors.append('<li>A communications error was encountered. Please try again.</li>');
                        }
                    });
                });

            //call google api
            $vMap.on('click',
                function(e) {

                    if (callGoogleApiCount === 0) {
                        var mapUrl =
                            'https://maps.googleapis.com/maps/api/staticmap?center={0},{1}&zoom=16&size=640x560&maptype=roadmap&markers=color:red|{0},{1}&key=AIzaSyCwRmBZUnlm7MMoIwCVT1uOxx611lfXdSY';

                        var interval = setInterval(function() {
                                if (window.googleMapsInitialized) {
                                    clearInterval(interval);
                                    var address = $('#address').text();
                                    var coordinates = $('#coordinates').text();
                                    var venueName = $('#venueName').text();
                                    var geocoder = new google.maps.Geocoder();

                                    if (coordinates.length > 0) {
                                        var url = mapUrl
                                            .replace(/\{0\}/g, coordinates.split(',')[0])
                                            .replace(/\{1\}/g, coordinates.split(',')[1]);

                                        $('#map').attr('src', url).attr('title', venueName);

                                        callGoogleApiCount++;
                                    } else {
                                        geocoder.geocode({
                                                'address': address
                                            },
                                            function(results, status) {
                                                if (status === google.maps.GeocoderStatus.OK) {

                                                    var url = mapUrl
                                                        .replace(/\{0\},/g, encodeURIComponent(address))
                                                        .replace(/\{1\}/g, '');
                                                    $('#map').attr('src', url).attr('title', venueName);

                                                    callGoogleApiCount++;
                                                }
                                            });
                                    }
                                }
                            },
                            500);
                    } //end of if loop

                    if ($(this).text() === 'Show Venue Map') {
                        $(this).text('Venue Map');
                    } else {
                        $(this).text('Show Venue Map');
                    }
                });
        });


        function submitForm(token) {

            var form = '<form action="@Url.Action("AvailableTestSessions", "Applications")" method="POST" id="recaptchaForm">' +
                '<input type="hidden" name="g-recaptcha-response" value="' + token + '">' +
                '<input type="hidden" name="CredentialRequestId" value="@Model.CredentialRequestId">' +
                '<input type="hidden" name="CredentialApplicationId" value="@Model.CredentialApplicationId">' +
                '<input type="hidden" name="ErrorMessage" value="">' +
                '</form>';
            $(form).appendTo('body').submit();
        }

        function recaptchaCallback(token) {

            submitForm(token);
        }

        $(document).ready(function () {
            var interval = setInterval(function () {
                try {
                    window.grecaptcha.render(
                        'recaptcha',
                        {
                            sitekey: "6LcAPjMUAAAAAO9MGOKhFfw6hEwmK_OjO8G_pH_z",
                            size: "invisible",
                            callback: recaptchaCallback
                        });
                    clearInterval(interval);
                }
                catch (err) { }
            }, 500);

        });



        function changeOrRejectTestSession(skipRecaptcha) {
            if (skipRecaptcha) {
                submitForm("");
            }
            else {
                window.grecaptcha.execute();
            }

        };
    </script>

}

