@{
    ViewBag.Title = "Welcome";
    //Layout = "../Shared/_Logon.cshtml";
}

@model MyNaati.Ui.ViewModels.Account.MfaModel

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    @Styles.Render("~/Content/bootstrap-fileinput/css/css")
    @Styles.Render("~/Content/themes/base/base")
    @Styles.Render("~/Content/DataTables/css/css")
    @Styles.Render("~/Bundles/Styles")

</head>
<body>

    <div id="reenterMfa" class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-primary">Enter code from Authenticator app</h2>
                <div>
                    Enter the 6-digit code found in your Authenticator app under 'NAATI'.
                </div>

                <div>
                    @using (Html.BeginForm("ReenterMfa", "Account", FormMethod.Post))
                    {
                        
                        <div>
                            @if (Model.error != null)
                            {
                                <span class="text-danger">@Model.error</span>
                            }
                            @Html.TextBoxFor(x => x.code, new { style = "width:50%;margin:10px;" })
                        </div>
                        <div>
                            Click Save after entering the code or click Close if you do not have the code ready.
                        </div>
                        @Html.HiddenFor(x => x.naatiNumber)
                        @Html.HiddenFor(x => x.returnUrl)
                        <div class="pos-a-r m-t-lg">
                            <input type="submit" name="action" value="SAVE" class="btn btn-primary" />
                            <input type="submit" name="action" value="CLOSE" class="btn btn-danger" />
                        </div>
                    }
                </div>
                <div>
                    @using (Html.BeginForm("EnterEmailCode", "Account", FormMethod.Post))
                    {
                        @Html.HiddenFor(x => x.naatiNumber)
                        <div class="pos-a-r">
                            <input type="submit" name="action" value="GET EMAIL CODE" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>