@using System.Configuration
@using MyNaati.Ui.Common
@using Recaptcha

@model MyNaati.Ui.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    ViewBag.BreadCrumb = new List<Tuple<string, string>>
    {
        new Tuple<string, string>("Reset Password", Url.Action("ResetPassword", "Account"))
    };
}

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <h2>Reset Password</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                If you have forgotten your password, enter your Customer number and your NAATI registered email address to have a new password sent to you.<br />
                If you have any difficulty, <a href="@Url.ExternalUrlFromConfig("ContactUs")" target="_blank">contact us</a>. <a href="@Model.GmailWhiteListUrl" target="_blank">For Gmail users, please check this out to avoid emails going to your spam folder.</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", id = "resetForm" }))
            {
                @Html.ValidationSummary("We were unable to reset your password.  Either:")
                <div class="form-group">
                    <div class="col-lg-8">
                        <div class="row">
                            @Html.LabelFor(m => m.NaatiNumber, "Customer Number:", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.NaatiNumber, new { type = "number", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8">
                        <div class="row">
                            @Html.LabelFor(m => m.Email, "Email:", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Email, new { type = "email", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        @if (ConfigurationManager.AppSettings["kosettings:skipRecaptcha"].AsBool())
                        {
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        }
                        else
                        {
                            <button type="submit" data-sitekey="6LcAPjMUAAAAAO9MGOKhFfw6hEwmK_OjO8G_pH_z" data-callback="onSubmit" class="g-recaptcha btn btn-primary btn-lg">Submit</button>
                        }
                       
                        
                    </div>
                </div>
                <script>
                    function onSubmit() {
                        $('#resetForm').submit();
                    }
                </script>
            }
        </div>
    </div>
</div>
