@model MyNaati.Ui.ViewModels.PDSearch.VerifyCredentialsModel
@{
    Layout = "~/Views/PDSearch/_Layout.cshtml";
}
<script type="text/javascript">
    var verifyCredentialsDivSelector = '#verifyCredentialsDiv';
    var backButtonSelector = '#btnBack';
    var closeButtonSelector = '#btnClose';
    var resultDivSelector = '#resultDiv';

    $(document).ready(function () {
        // if we have reached here it means a practitioner was found
        // so we need to resize and centre the dialog to display credentials
        $(verifyCredentialsDivSelector).dialog('option', 'width', 720);
        $(verifyCredentialsDivSelector).dialog('option', 'position', 'center');

        $(backButtonSelector).click(function () {
            window.top.loadVerifyCredentials();
            return false;
        });

        $(closeButtonSelector).click(function () {
            window.top.closeVerifyCredentials();
        });
    });
</script>
<h3>
    Search Results</h3>
@{
    if (Model.Practitioner != null)
    {
    <table style="width: 100%; border: none;">
        <tr>
            <td style="vertical-align: top; width: 100%; border: none;">
                <table style="width: 100%; border: none;">
                    <tr>
                        <td style="vertical-align: top; border: none;" nowrap="1">
                            Customer Number:
                        </td>
                        <td style="width: 100%; border: none;">@Html.DisplayFor(e => Model.NaatiNumber)
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; border: none;">
                            Name:
                        </td>
                        <td style="border: none;">@Html.DisplayFor(e => Model.Practitioner.Surname), @Html.DisplayFor(e => Model.Practitioner.GivenName)
                            @{
                                @Html.Raw(Model.Practitioner.Deceased ? "<strong>(This person is deceased)</strong>" : string.Empty)                                
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; border: none;">
                            Current Credentials:
                        </td>
                        @if (!string.IsNullOrEmpty(Model.Practitioner.Skills))
                        {
                            <td style="border: none;">
                                @Html.Raw(Model.Practitioner.Skills)
                            </td>
                        }
                        else
                        {
                            <td style="border: none;">
                                @{
                                    @Html.Raw("Nil")   
                                }
                            </td>
                        }
                    </tr>
                    @*Check expired credentials, only print previous if there are any expired ones*@
                    <tr>
                        <td style="vertical-align: top; border: none;">
                            Previous Credentials:
                        </td>
                        @if (!string.IsNullOrEmpty(Model.Practitioner.ExpiredCredentialSkills))
                        {
                            <td style="border: none;">
                                @Html.Raw(Model.Practitioner.ExpiredCredentialSkills)
                            </td>
                        }
                        else
                        {
                            <td style="border: none;">
                                @{
                                    @Html.Raw("Not applicable")   
                                }
                            </td>
                        }
                    </tr>
                    @if (Model.Practitioner.IsRevalidationScheme)
                    {
                        <tr>
                            <td style="vertical-align: top; border: none;">
                                Revalidation Scheme:
                            </td>
                            <td style="border: none;">
                                @{                   
                                    @(Model.Practitioner.IsRevalidationScheme ? Html.Raw("Yes") : Html.Raw("No"))
                                }
                            </td>
                        </tr>   
                    }
                    @{
                    if (Model.Practitioner.Address != null &&
                        string.IsNullOrEmpty(Model.Practitioner.Address.State) &&
                        !string.IsNullOrEmpty(Model.Practitioner.Address.Country))
                    {
                        <tr>
                            <td style="vertical-align: top; border: none;">
                                Country:
                            </td>
                            <td style="border: none;">@Html.DisplayFor(e => Model.Practitioner.Address.Country)
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td style="vertical-align: top; border: none;">
                                State:
                            </td>
                            @{
                        if (Model.Practitioner.Address != null)
                        {
                                <td style="border: none;">@Html.DisplayFor(e => Model.Practitioner.Address.State)
                                </td>
                        }
                        else
                        {
                                <td style="border: none;">
                                    &nbsp;
                                </td>
                        }
                            }
                        </tr>
                    }
                    }
                    <tr>
                        <td style="vertical-align: top; border: none;">
                            <b>Note: </b>
                        </td>
                        <td style="border: none;">
                            @Html.Raw("Credentials not displaying a &quot;Valid to&quot; date are not part of the Revalidation Scheme.")
                        </td>
                    </tr>
                </table>
            </td>
            @{
                    if (Model.Practitioner != null && Model.Practitioner.ShowPhotoOnline)
                    {
                <td style="vertical-align: top; border: none;">
                    Photo:
                </td>
                <td style="vertical-align: top; border: none;">
                    <img src="@Url.Action("ProfilePicture", "PDSearch", new { naatiNumber = Model.NaatiNumber })" alt="Photo for @Model.Practitioner.GivenName" />
                </td>
                    }
            }
        </tr>
    </table>
    <div>
        <input id="btnBack" value="Back" type="button" />
        <input id="btnClose" value="Close" type="button" />
    </div>
    }
}
