@model MyNaati.Ui.ViewModels.PDSearch.VerifyCredentialsModel
@{
    ViewBag.Title = "Verify Practitioner Credentials";
}
<h2>Verify Practitioner Credentials</h2>
<p>&nbsp;</p>
<h3>Search Results</h3>
<table>
    <tr>
        <td nowrap="1">Customer Number:</td>
        <td>@Html.DisplayFor(e => Model.NaatiNumber)</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>@Html.DisplayFor(e => Model.Practitioner.Surname), @Html.DisplayFor(e => Model.Practitioner.GivenName)</td>
    </tr>
    <tr>
        <td>Credentials:</td>
        <td>@Html.DisplayFor(e => Model.Practitioner.Skills)</td>
    </tr>
    <tr>
        <td>State:</td>
        <td>@Html.DisplayFor(e => Model.Practitioner.Address.State)</td>
    </tr>
</table>
<input type="button" onclick="parent.location = '@Url.Action("VerifyCredentials", "PDSearch")'" value="Close" />
