@using MyNaati.Ui.Common
@using MyNaati.Ui.UI
@using Recaptcha
@model MyNaati.Ui.ViewModels.PDSearch.VerifyCredentialsModel
@{
    Layout = "~/Views/PDSearch/_Layout.cshtml";
}
<script type="text/javascript">
    var verifyCredentialsDivSelector = '#verifyCredentialsDiv';
    var closeButtonSelector = '#btnClose';
    var verifyCredentialsForm = '#verifyCredentialsForm';
    var resultDivSelector = '#resultDiv';
    var naatiNumberTextBox = '#NaatiNumber';
    var validationSelector = '#valSum"';

    $(document).ready(function () {
        $(closeButtonSelector).click(function () {
            window.top.closeVerifyCredentials();
        });

        $(naatiNumberTextBox).focus(function () {
            if ($(".validation-summary-errors").is(':visible')) {
                $(".validation-summary-errors").hide();
            }

            $(naatiNumberTextBox).select();
        });
    });
</script>

<p>Please enter the Customer Number of the Practitioner and select Search.</p>
@Html.ValidationSummary("", new { id = "valSum" })
<br />
@using (Html.BeginForm("Credentials", "PDSearch", FormMethod.Post, new { id = "verifyCredentialsForm" }))
{
    @Html.EditorFor(e => Model.NaatiNumber)
    <br />
    <div class="editorSet">
        <div class="editorLabel">
        What words are in the image?
        </div>
        <br style="clear:both" />
        <div class="editorValue">
            @Html.GenerateMvcHtmlCaptcha()
            @Html.ValidationMessage("Captcha", "*")
        </div>
        <br style="clear:both" />
        * This is to prevent automated submissions.
    </div>
    <div>
        <input id="btnSearch" type="submit" value="Search" />
        <input id="btnClose" value="Close" type="button" />
    </div>
}

    @if (ViewContext.IsGoogleAnalyticsEnabled())
    {
        @Html.Partial("_GoogleAnalytics")
    }